In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
import xgboost as xgb
import matplotlib.pyplot as plt
import category_encoders as ce

In [ ]:
# Performance Report
def evaluate(y_test, y_pred):
    print("Confusion Matrix: ")
    print(confusion_matrix(y_test, y_pred))

    print ("Accuracy : ")
    print(accuracy_score(y_test,y_pred)*100)

    print("Report : ")
    report = classification_report(y_test, y_pred)
    print(report)

In [ ]:
data = pd.read_csv("bank.csv")

In [ ]:
data = data.replace({'yes': 1, 'no': 0})

In [ ]:
data

In [ ]:
data['education'].unique()

In [ ]:
X = data.drop(columns=['subcribed'])
X

In [ ]:
y = data['subcribed']
y

In [ ]:
from datetime import datetime
data['month'] = data['month'].transform(lambda x : datetime.strptime(x, '%b').month)
# datetime.strptime('oct', '%b').month

In [52]:
data.rename(columns={'subcribed': 'subscribed'}, inplace=True)

In [ ]:
encoder_edu = ce.OrdinalEncoder(mapping={'col': 'education', 'mapping': {'tertiary': 1, 'secondary': 2, 'primary': 3, 'unknown': 4}})

encoder_job = ce.cat_boost.CatBoostEncoder(cols=['job'])

In [ ]:
encoder_job = ce.cat_boost.CatBoostEncoder(cols=['job'])

In [49]:
data['job'].unique()

array(['unemployed', 'services', 'management', 'blue-collar',
       'self-employed', 'technician', 'entrepreneur', 'admin.', 'student',
       'housemaid', 'retired', 'unknown'], dtype=object)

In [53]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,30,unemployed,married,primary,0,1787,0,0,cellular,19,10,79,1,-1,0,unknown,0
1,33,services,married,secondary,0,4789,1,1,cellular,11,5,220,1,339,4,failure,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,4,185,1,330,1,failure,0
3,30,management,married,tertiary,0,1476,1,1,unknown,3,6,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,0,0,1,0,unknown,5,5,226,1,-1,0,unknown,0
5,35,management,single,tertiary,0,747,0,0,cellular,23,2,141,2,176,3,failure,0
6,36,self-employed,married,tertiary,0,307,1,0,cellular,14,5,341,1,330,2,other,0
7,39,technician,married,secondary,0,147,1,0,cellular,6,5,151,2,-1,0,unknown,0
8,41,entrepreneur,married,tertiary,0,221,1,0,unknown,14,5,57,2,-1,0,unknown,0
9,43,services,married,primary,0,-88,1,1,cellular,17,4,313,1,147,2,failure,0
10,39,services,married,secondary,0,9374,1,0,unknown,20,5,273,1,-1,0,unknown,0
11,43,admin.,married,secondary,0,264,1,0,cellular,17,4,113,2,-1,0,unknown,0
12,36,technician,married,tertiary,0,1109,0,0,cellular,13,8,328,2,-1,0,unknown,0
13,20,student,single,secondary,0,502,0,0,cellular,30,4,261,1,-1,0,unknown,1
14,31,blue-collar,married,secondary,0,360,1,1,cellular,29,1,89,1,241,1,failure,0
15,40,management,married,tertiary,0,194,0,1,cellular,29,8,189,2,-1,0,unknown,0
16,56,technician,married,secondary,0,4073,0,0,cellular,27,8,239,5,-1,0,unknown,0
17,37,admin.,single,tertiary,0,2317,1,0,cellular,20,4,114,1,152,2,failure,0
18,25,blue-collar,single,primary,0,-221,1,0,unknown,23,5,250,1,-1,0,unknown,0
19,31,services,married,secondary,0,132,0,0,cellular,7,7,148,1,152,1,other,0
20,38,management,divorced,unknown,0,0,1,0,cellular,18,11,96,2,-1,0,unknown,0
21,42,management,divorced,tertiary,0,16,0,0,cellular,19,11,140,3,-1,0,unknown,0
22,44,services,single,secondary,0,106,0,0,unknown,12,6,109,2,-1,0,unknown,0
23,44,entrepreneur,married,secondary,0,93,0,0,cellular,7,7,125,2,-1,0,unknown,0
24,26,housemaid,married,tertiary,0,543,0,0,cellular,30,1,169,3,-1,0,unknown,0
25,41,management,married,tertiary,0,5883,0,0,cellular,20,11,182,2,-1,0,unknown,0
26,55,blue-collar,married,primary,0,627,1,0,unknown,5,5,247,1,-1,0,unknown,0
27,67,retired,married,unknown,0,696,0,0,telephone,17,8,119,1,105,2,failure,0
28,56,self-employed,married,secondary,0,784,0,1,cellular,30,7,149,2,-1,0,unknown,0
29,53,admin.,married,secondary,0,105,0,1,cellular,21,8,74,2,-1,0,unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491,35,blue-collar,single,secondary,0,0,1,0,cellular,16,4,169,1,-1,0,unknown,0
4492,32,technician,single,secondary,0,309,1,1,cellular,16,4,346,1,234,3,failure,0
4493,28,technician,single,tertiary,0,0,1,0,unknown,4,6,205,6,-1,0,unknown,0
4494,26,technician,single,secondary,0,668,1,0,unknown,28,5,576,3,-1,0,unknown,1
4495,48,management,married,tertiary,0,1175,1,0,telephone,18,11,1476,3,-1,0,unknown,0
4496,30,blue-collar,single,secondary,0,363,0,0,cellular,28,7,171,3,-1,0,unknown,0
4497,31,entrepreneur,single,tertiary,0,38,0,0,cellular,20,11,185,2,-1,0,unknown,0
4498,31,management,married,tertiary,0,1183,1,0,unknown,27,5,676,6,-1,0,unknown,0
4499,45,blue-collar,divorced,primary,0,942,0,0,cellular,21,11,362,1,-1,0,unknown,0
4500,38,admin.,married,secondary,0,4196,1,0,cellular,12,5,193,2,-1,0,unknown,0
4501,34,management,married,tertiary,0,297,1,0,cellular,26,8,63,4,-1,0,unknown,0
4502,42,services,married,secondary,0,-91,1,1,cellular,5,2,43,1,-1,0,unknown,0
4503,60,self-employed,married,primary,0,362,0,1,cellular,29,7,816,6,-1,0,unknown,1
4504,42,blue-collar,single,secondary,0,1080,1,1,cellular,13,5,951,3,370,4,failure,1
4505,32,admin.,single,secondary,0,620,1,0,unknown,26,5,1234,3,-1,0,unknown,1
4506,42,unemployed,divorced,tertiary,0,-166,0,0,cellular,29,8,85,4,-1,0,unknown,0
4507,33,services,married,secondary,0,288,1,0,cellular,17,4,306,1,-1,0,unknown,0
4508,42,admin.,married,unknown,0,642,1,1,unknown,16,5,509,2,-1,0,unknown,0
4509,51,technician,married,tertiary,0,2506,0,0,cellular,30,11,210,3,-1,0,unknown,0
4510,36,technician,divorced,secondary,0,566,1,0,unknown,20,5,129,2,-1,0,unknown,0
4511,46,blue-collar,married,secondary,0,668,1,0,unknown,15,5,1263,2,-1,0,unknown,1
4512,40,blue-collar,married,secondary,0,1100,1,0,unknown,29,5,660,2,-1,0,unknown,0
4513,49,blue-collar,married,secondary,0,322,0,0,cellular,14,8,356,2,-1,0,unknown,0
4514,38,blue-collar,married,secondary,0,1205,1,0,cellular,20,4,45,4,153,1,failure,0
4515,32,services,single,secondary,0,473,1,0,cellular,7,7,624,5,-1,0,unknown,0
4516,33,services,married,secondary,0,-333,1,0,cellular,30,7,329,5,-1,0,unknown,0
4517,57,self-employed,married,tertiary,1,-3313,1,1,unknown,9,5,153,1,-1,0,unknown,0
4518,57,technician,married,secondary,0,295,0,0,cellular,19,8,151,11,-1,0,unknown,0
4519,28,blue-collar,married,secondary,0,1137,0,0,cellular,6,2,129,4,211,3,other,0
4520,44,entrepreneur,single,tertiary,0,1136,1,1,cellular,3,4,345,2,249,7,other,0